#show_article
  - @small = false
  - if @small
    #small_article_spacer
  #article_image
    = image_tag "articles/#{@article.nlaid}.jpg"

  #article_body
    %h2
      = "#{Time.now.year - @article.date.year} years ago"
    %p
      %b
        = "The Argus - #{@article.date}"
    %b
      = @article.heading
      = simple_format @article.body

  #article_base
    = link_to 'Edit', edit_article_path(@article)
    = link_to 'Back', articles_path