#header
  #header_content
    #article_page_heading
      %h1
        = "#{Time.now.year - @article.date.year} years ago"
    #article_page_heading2
      %h2
        = "#{@article.date.strftime("%B %e, %Y")}"
    #article_page_heading3
      %h2
        = link_to 'Next report', article_path(next_id_in_collection(:gruesome, @article.id))
  #header_title
    #left_header
      %h1
    #middle_header
      %h1
        grim reports

#show_article
  #article_spacer
  #article_background
    #article_wrapper
      #article_image
        = image_tag "articles/#{@article.nlaid}.jpg"
        %h3
          = "The Argus"
      #article_body
        %b
          = simple_format @article.heading
          = simple_format @article.body
    #article_base
      %h2
        = link_to 'Next report', article_path(next_id_in_collection(:gruesome, @article.id))
      %h3
        = link_to 'View the original at the National Library of Australia', "http://nla.gov.au/nla.news-article#{@article.nlaid}"
      -#= link_to 'Edit', edit_article_path(@article)
      -#= link_to 'Back', articles_path
      -#
      -#= link_to 'Random', article_path(random_article_id_excluding(@article.id))