!!!
%html
  %head
    %title
      grim reports
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"
    = javascript_include_tag 'jquery.corner.js'
    = javascript_include_tag 'application.js'
    = csrf_meta_tag
  %body.two-col
    #container
      #background_container
        #header
          #left_header
            %h1
          #middle_header
            %h1
              grim reports
          #right_header
            %h1
        #content.round
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}"
          = yield
        #footer
        -#= debug(params) if Rails.env.development?
